

<!-- Toolbar -->

<div class="toolbar" role="banner">

  <span>Welcome</span>
    <div class="spacer"></div>


</div>


<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <h1>{{ title }} app is running!</h1>

  </div>


  <app-form (user) = getUser($event)></app-form>


  <app-table [users]="utenti" (user)="getRemove($event)"></app-table>





  <!-- Footer -->
  <footer class="footer ">

    <div class="card">
      <div class="card-header">
        made with ♥️ by Manuel della Gala
      </div>

    </div>


  </footer>


</div>


<router-outlet></router-outlet>
